@typeparam Titem


<div class="row no-gutters text-center fs--1">
    @foreach (var item in Listado)
    {
        @if (item.Persona != null)
        {
            <CardPerfil Nombre="@(item.Persona.Nombre+" "+item.Persona.ApePat)" UrlDetalles="detalles-empleado" Id="@item.Idempleado" Imagen="@item.Img"
                VerDetalles="@(item.Fchbaja != null ? false : true)" VerEditar="false">
                <stateEmpleado>
                    <div class="mt-auto @(item.Fchbaja != null ? "bg-danger":"bg-success")" style="border-radius:7px;height:15px;width:15px;position:absolute;top:55%;left:55%;">
                    </div>
                </stateEmpleado>
            </CardPerfil>
        }
    }
</div>

@code {
    //public List<Empleado> Empleados { get; set; }
    [Parameter] public List<Empleado> Listado { get; set; }
    [Parameter] public bool cargando { get; set; }

    protected async override Task OnInitializedAsync()
    {
          
    }
}
